.h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'calistoga';
    color: #1b1b1b;
    text-align: center;
    margin: 20px 0;

}

.exclamacao-decoration {
    color: #f26820;
}

.special__grid {
   /* display: flex;
    flex-direction: column;
    align-items: center; */
  margin-top: 4rem;
  display: grid;
  gap: 20px;
}

.special__card {
  padding: 16px;
  text-align: center;
  border-radius: 32px;
  transition: 0.3s;
}

.special__card:hover {
  box-shadow: 50px 10px 40px rgba(0, 0, 0, 0.1);
}

.special__card img {
   /* max-width: 100%; */
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

.special__card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.special__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.special__ratings {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: goldenrod;
}

.special__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.special__footer .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}
  .special__card {
    padding: 32px;
    border-radius: 48px;
  }


@media screen and (width > 540px) {
  .special__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  }
 
  .special__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (width > 1024px) {
  .special__grid {
    gap: 32px;
  }   }

  @media (max-width > 768px) {
    nav {
      position: static;
      padding: 32px 16px;
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
    }
    
  }



 
